h2 {
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  margin: 0;
  margin-top: 5%;
}

button {
  background-color: #007bff;
  color: #dae1f7;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

p {
  white-space: nowrap;
}

.frame-content {
  height: 378px;
  /*Vertical Align begin*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Vertical Align end*/

  display: flex;
  align-items: center;
  flex-direction: column;
}

.panel {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.panel-body {
  color: #5a5c69;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.entity {
  font-size: 16px;
  font-weight: 400;
  color: #f8f9fc;
}

.loginform {
  padding-bottom: 8px;
}

@media screen and (min-width: 300px) {
  h2 {
    font-size: 17px;
  }

  img {
    width: 100px;
  }

  .loginform {
    font-size: 19px;
  }

  button {
    padding: 12px 105px;
  }

  .entity {
    font-size: 13px;
  }
}

@media screen and (min-width: 380px) {
  h2 {
    font-size: 21px;
  }

  img {
    width: 100px;
  }

  .loginform {
    font-size: 22px;
  }

  button {
    padding: 12px 122px;
  }
}

@media screen and (min-width: 700px) {
  h2 {
    font-size: 25px;
  }

  img {
    width: 115px;
  }

  .loginform {
    font-size: 25px;
  }

  button {
    padding: 12px 145px;
  }
}
