* {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-weight: 700;
}

img {
  width: 100px;
  height: 50px;
}

button {
  width: 396px;

  background-color: #007bff;
  color: #dae1f7;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.frame-content {
  color: aliceblue;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.panel {
  background-color: white;
  border-radius: 5px;
  color: yellow;
  width: 486px;
  height: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-body {
  color: #5a5c69;
  width: 396px;
  height: 244px;
}

.entity {
  font-size: 16px;
  font-weight: 400;
  color: #f8f9fc;
}

.loginform {
  padding: 10px;
  font-size: 30px;
}
